In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_csv("D:\DS_python\crop_production.csv")
df = pd.read_csv(r"D:\kaust\crop_production.csv")

In [3]:
print(df.shape)

(246091, 7)

In [4]:
columns = list(df.columns)
print(columns)

['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area', 'Production']

In [5]:
print(df.head())

                    State_Name District_Name  Crop_Year       Season  \
0  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
1  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
2  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
3  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
4  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year

                  Crop    Area  Production
0             Arecanut  1254.0      2000.0
1  Other Kharif pulses     2.0         1.0
2                 Rice   102.0       321.0
3               Banana   176.0       641.0
4            Cashewnut   720.0       165.0

In [6]:
print(df.describe())

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [7]:

new_df = df
 
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64
Missing values distribution:
State_Name       0.000000
District_Name    0.000000
Crop_Year        0.000000
Season           0.000000
Crop             0.000000
Area             0.000000
Production       0.015157
dtype: float64

In [8]:
missing_values_columns = new_df.isnull().any()
print(missing_values_columns)

State_Name       False
District_Name    False
Crop_Year        False
Season           False
Crop             False
Area             False
Production        True
dtype: bool

In [9]:
missing_values_rows = new_df.isnull().any(axis=1)
print(missing_values_rows)

0         False
1         False
2         False
3         False
4         False
          ...
246086    False
246087    False
246088    False
246089    False
246090    False
Length: 246091, dtype: bool

In [10]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
State_Name        object
District_Name     object
Crop_Year          int64
Season            object
Crop              object
Area             float64
Production       float64
dtype: object

In [11]:
grouped_mean_production = new_df.groupby(['State_Name', 'District_Name', 'Crop'])['Production'].mean()

for index, row in new_df[new_df['Production'].isnull()].iterrows():
    state = row['State_Name']
    district = row['District_Name']
    crop = row['Crop']

    if (state, district, crop) in grouped_mean_production.index:
        mean_production = grouped_mean_production[state, district, crop]

        new_df.at[index, 'Production'] = mean_production

In [12]:
print(new_df.isnull().sum())

State_Name         0
District_Name      0
Crop_Year          0
Season             0
Crop               0
Area               0
Production       512
dtype: int64

In [13]:
new_df.dropna(subset=['Production'], inplace=True)

In [14]:
print(new_df.isnull().sum())

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [15]:
print(df.shape)

(245579, 7)